.content {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}

.header {
    background-color: rgba(13, 17, 23, 0.7);
    grid-area: header;
    display: grid;
    grid-template-columns: 50px 2fr 1fr 50px;
    grid-template-areas:
        ". form top-right . "
        ". header-row-2 header-row-2 .";
}

form {
    grid-area: form;
    appearance: none;
}

.user-icon {
    grid-area: user-icon;
    height: 20px;
    width: 20px;
    align-self: center;
}
.l1 {
    display: flex;
    justify-content: center;
    align-content: center;
}
.hello {
    grid-area: hello;
    margin-bottom: 0px;
}

.name {
    grid-area: name;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.user-icon2 {
    grid-area: user-icon2;
    height: 75px;
    width: 75px;
    align-self: center;
}

.left-side {
    grid-area: left-side;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-right {
    grid-area: top-right;
    display: flex;
    box-sizing: border-box;
    padding-right: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.top-right .user-name {
    height: 20px;
    font-weight: 1000;
}

.header-row-2 {
    grid-area: header-row-2;
    display: grid;
    grid-template-columns: 9fr 5fr;
    grid-template-areas:
        "left-side right-side";
}

.right-side {
    grid-area: right-side;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button-list {
    color: whitesmoke;
    background-color: rgba(13, 17, 23, 0.5);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.search {
    color: white;
    background-color: rgba(13, 17, 23, 0.01);
    box-shadow: none;
    outline: none;
}

.sidebar {
    background: rgba(13, 17, 23, 0.8);
    backdrop-filter: blur(12px);
    grid-area: sidebar;
    color: whitesmoke;
}

.sidebar .top {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-left: 10px;
    list-style-type: none;
}

.sidebar .top li {
    size: 1em;
    display: flex;
    padding-bottom: 20px;
    gap: 10px;
    align-items: center;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-left: 10px;
    list-style-type: none;
}

.sidebar .bottom li {
    size: 1em;
    display: flex;
    padding-bottom: 20px;
    gap: 10px;
    align-items: center;
}

.main-content {
    background-color: blueviolet;
    grid-area: main-content;
}